<div class="container mt-2">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col" *ngFor="let post of posts$ | async">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ post.author }}</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ post.author }}</li>
            <li class="list-group-item">${{ post.title }}</li>
          </ul>
        </div>
        <h1>hello</h1>
      </div>
    </div>
  </div>